h1 {
  font-family: "Playfair Display", serif;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 2;
  }

body {
  font-family: system-ui, sans-serif;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.6;
}

nav {
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
}
