<div class="d-flex justify-content-between align-items-start">
  <div>
    <h1><a class="site-title-link" href="/about/">Sharon G. Dorsey</a></h1>
    <p class="site-subtitle">New Perspectives on the New South</p>
  </div>
  <ul class="nav flex-nowrap">
    <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/cv/">CV</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/projects/">Projects</a></li>
  </ul>
</div>
